name: Tester

on: [push, pull_request]

jobs:
  tester:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Node 16.x - Hexo 3.x to 5.x
          - os: ubuntu-latest
            node-version: "16.x"
            HEXO_VERSION: "3.x"
          - os: ubuntu-latest
            node-version: "16.x"
            HEXO_VERSION: "4.x"
          - os: ubuntu-latest
            node-version: "16.x"
            HEXO_VERSION: "5.x"
          - os: windows-latest
            node-version: "16.x"
            HEXO_VERSION: "4.x"
          - os: macos-latest
            node-version: "16.x"
            HEXO_VERSION: "4.x"
          # Node 18.x - Hexo 5.x to 7.x
          - os: ubuntu-latest
            node-version: "18.x"
            HEXO_VERSION: "5.x"
          - os: ubuntu-latest
            node-version: "18.x"
            HEXO_VERSION: "6.x"
          - os: ubuntu-latest
            node-version: "18.x"
            HEXO_VERSION: "7.x"
          - os: windows-latest
            node-version: "18.x"
            HEXO_VERSION: "6.x"
          - os: macos-latest
            node-version: "18.x"
            HEXO_VERSION: "6.x"
          # Node 20.x - Hexo 7.x to 8.x
          - os: ubuntu-latest
            node-version: "20.x"
            HEXO_VERSION: "7.x"
          - os: ubuntu-latest
            node-version: "20.x"
            HEXO_VERSION: "8.x"
          - os: windows-latest
            node-version: "20.x"
            HEXO_VERSION: "8.x"
          - os: macos-latest
            node-version: "20.x"
            HEXO_VERSION: "8.x"

      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache NPM dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-cache
          restore-keys: ${{ runner.os }}-npm-cache
      - name: Install Dependencies
        run: yarn install && yarn add "hexo@${{ matrix.HEXO_VERSION }}"
      - name: Test
        run: yarn test
        env:
          CI: true
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: ["14.x"]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache NPM dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-cache
          restore-keys: ${{ runner.os }}-npm-cache
      - name: Install Dependencies
        run: yarn install && yarn add "hexo@5.x"
      - name: Coverage
        run: yarn test-cov
        env:
          CI: true
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.github_token }}
